<!-- app.component.html -->

<div class="container">
  <h1 class="title">
    <span id="flip-telugu">నేర్చుకో</span>
    <span id="flip-english" style="display: none;">Learn</span>
    <span> Telugu</span>
  </h1>
  <div class="card-container">
    <div class="word-card" *ngFor="let word of words">
      <div class="word-details">
        <p class="telegu">{{ word.telegu }}</p>
        <p class="english">{{ word.english }}</p>
        <p class="hindi">{{ word.hindi }}</p>
        <p class="pronunciation">{{ word.pronunciation }}</p>
      </div>
    </div>
  </div>
</div>
